extends layout 

block content 
    form(action='', method='POST')
        label(for='membership') Please enter the passcode to gain membership: 
        input(type='text', name='membership')
        button(type='submit') Submit