extends layout 

block content 
    form(action='', method='post')
        label(for='title') Title: 
        input(type='text', name='title')
        label(for='text') Message: 
        input(type='text', name ='text') 
        button(type='submit') submit  