extends layout 

block content 
    form(action='', method='POST')
        label(for='firstName') First Name: 
        input(type='text', name='firstName') 
        label(for='lastName') Last Name: 
        input(type='text', name='lastName') 
        label(for='email') Email address: 
        input(type='text', name='email')
        label(for='password') Password: 
        input(type='password', name='password')
        label(for='confirm') Confirm password: 
        input(type='password', name='confirm')
        button(type='submit') Sign up